<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Ejercicio de prueba</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/">
      Inicio
    </a>
    <a mat-button routerLink="/category/list">
      Categories
    </a>
    <a mat-button routerLink="/items">
      Items
    </a>
  </mat-toolbar>
</p>
<!--<div class="spinner-container">-->
<!--  <mat-spinner></mat-spinner>-->
<!--</div>-->
<router-outlet></router-outlet>
